body{
    background: #FFF1D9;
    font: 24px "Calibri";
    margin: 15px;
}
.Main{
    background-color: #FFD58C;
    color: black;
    padding-bottom: 3px;
}

form{
    display: inline-block;
}
.chart{
    background-color: #ffe4b5;
    margin: 1%;
}